In [3]:
print("Hola Mundo")

Hola Mundo

In [10]:
## Variables Primitivas
entero = 3
decimal = 1.1
nombre = "Adrian"
segundo_nombre = 'Vicente'
casado = False
profesor = True
hijos = None
print(type(entero))  # int
print(type(decimal))  # float
print(type(nombre))  # str
print(type(segundo_nombre))  # str
print(type(casado))  # boolean
print(type(profesor))  # boolean
print(type(hijos))  # NoneType

texto = """asdasdasdsa
asdasasd dsa d asdas da
dasa sd asd as dsdasdasdas das da sd as d
das das d as das das das d asd asd as da 
"""

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [12]:
print(entero)
entero = decimal
entero = hijos
entero = casado
entero = nombre
print(entero)

1.1
Adrian

In [15]:
# Condicion (Boolean)
# Truty
# Falsy
tuplas = ()
listas = []
diccionario = {}
print(type(tuplas))  # tuple
print(type(listas))  #  list
print(type(diccionario))  # dict

if(""):  # Falsy 
    print("Truty")
else:
    print("Falsy")

if("a"):  # Truty 
    print("Truty")
else:
    print("Falsy")

if(0):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(-1):  # Truty
    print("Truty")
else:
    print("Falsy")

if(1):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(0.00):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(0.01):  # Truty
    print("Truty")
else:
    print("Falsy")

if(None):  # Falsy
    print("Truty")
else:
    print("Falsy")

if(()):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if((1,2)):  # Truty
    print("Truty")
else:
    print("Falsy")

if([]):  # Falsy
    print("Truty")
else:
    print("Falsy")

if(["a","b"]):  # Truty
    print("Truty")
else:
    print("Falsy")


if({}):  # Falsy
    print("Truty")
else:
    print("Falsy")

if({nombre:"Adrian"}):  # Truty
    print("Truty")
else:
    print("Falsy")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Falsy
Truty
Falsy
Truty
Truty
Falsy
Truty
Falsy
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [16]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
arreglo[2:5]  # Filtrar ( [2, 5[)
arreglo[2:]
arreglo[:7]
arreglo[-1]
arreglo[2:-1]  # Filtrar ( [2, -1[)
arreglo[-8:-1]
arreglo[-9:]
arreglo[:-2]
arreglo[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
print(type(7 in arreglo))
print(7 in arreglo)

<class 'bool'>
True

In [25]:
len(arreglo)  # 10

10

In [31]:
# arreglo.append(11)
# arreglo.pop()
arreglo.insert(1, 1.1)
arreglo

[1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [38]:
for numero in arreglo:
    print(numero)

contador = 0
while contador < 10:
    print(contador)
    contador+= 1

1
1.1
2
3
4
5
6
7
8
9
10
11
0
1
2
3
4
5
6
7
8
9

In [39]:
tupla_numeros = (1,2,3,4,5)
tupla_numeros

(1, 2, 3, 4, 5)

In [46]:
tupla_numeros[0:3]
len(tupla_numeros)
3 in tupla_numeros

True

In [72]:

adrian = {
    12123: "Adrian",
    None: None,
    False: False,
    "apellido": 'Eguez',
    'edad': 30,
    'sueldo':1.23,
    "mascotas": [ { nombre: "cachetes" } ],
}
adrian

{12123: 'Adrian',
 None: None,
 False: False,
 'apellido': 'Eguez',
 'edad': 30,
 'sueldo': 1.23,
 'mascotas': [{12123: 'cachetes'}]}

In [80]:
adrian["apellido"] = "Sarzosa"
adrian["apellido"]
adrian["mascotas"][0][12123]
adrian.keys()
"apellido" in adrian.keys()
"apellido" in adrian.values()

True